{% extends 'base.html' %}

{% block title %}
Home |
{% endblock title %}

{% block body %}
<header class="site-header sticky-top py-1" style="background: currentColor">
  <nav class="container d-flex flex-column flex-md-row justify-content-center">
    
    
    <a class="py-2 d-none d-md-inline-block" style="color:lightgray;font-style:italic;" >"Never forget why you started.."</a>
    
  </nav>
</header>

<div class="container-fluid px-0 ">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1513094116080-a9255c930d1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="rounded mx-auto d-block" style="width: 1190px ; height: 595px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <b><h5 class="text-dark" style= "font-style: bold">Live!</h5></b>
        <p class ="text-dark" style="font-style: italic">Be Poetic In Your Own World</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1502569987184-f23646434376?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="rounded mx-auto d-block" style="width: 1190px ; height: 595px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <b><h5 class="text-dark">Create!</h5></b>
        <p class="text-dark" style="font-style: italic">Visualize And Become Artistic</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1549675584-91f19337af3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" class="rounded mx-auto d-block" style="width: 1190px ; height: 595px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <b><h5 class="text-dark">Acquire!</h5></b>
        <p class="text-dark" style="font-style: italic">Enhance The Power Of Your Knowledge</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</div>


<div class="container my-3">
  <h1 class= "my-4 text-center" style= "color: lightgray;font-size: revert;
  font-style: italic;">A Variety of Visions for You...</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1562232573-0305012a8818?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" class="h-5 d-inline-block" style="width: 348px ; height: 225px" alt="...">
 
        <div class="card-body">
          <b><p class="card-text" style = "color: darkslategray ; text-align: center">Be Productive</p></b>
          <p class="card-text" style = "color: darkslategray; font-style: italic; text-align: center">Procrastination is not the key to success. View to read more</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="static\First.jpg" type="button" class="btn btn-sm btn-outline-secondary">View</a>
              
              
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1541962945576-6bc565483154?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" class="h-5 d-inline block" style="width: 348px; height: 225px" alt="...">

        <div class="card-body">
          <b><p class="card-text" style = "color: darkslategray ; text-align: center">Focus</p></b>
          <p class="card-text" style = "color: darkslategray; font-style: italic; text-align: center">The more you focus, the more you grasp. View to read more</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="static\Second.jpg" type="button" class="btn btn-sm btn-outline-secondary">View</a>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        
        <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="h-5 d-inline block" style="width: 348px; height: 225px" alt="...">

        <div class="card-body">
          <b><p class="card-text" style = "color: darkslategray; text-align: center">Invest and Live</p></b>
          <p class="card-text" style = "color: darkslategray; font-style: italic; text-align: center">Who doesn't want to live their best lives? View to read more</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="static\Third.jpg" type="button" class="btn btn-sm btn-outline-secondary" >View</a>
              
            </div>
            
           </div>
              
              
            </div>
           
          </div>
        </div>
      </div>
     </div>

      </div>
    </div>
  </div>
</div>
{% comment %} spyscroll {% endcomment %}

  

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md" style="text-align: center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-muted" >The Mantra | © 2022</small>
    </div>
  
    </div>
  </div>
</footer>

{% endblock body %}

